{% if (not aSurveyInfo.printPdf) %} 
    <h2>{{aSurveyInfo.surveyls_title}}</h2>
{% endif %} 
{% set groupcount = 0 %}

{% for groupid,group in aSurveyInfo.groupArray %}
<table class="table table-bordered {% if groupcount %}page-break-before{% endif %}">
    <tbody class="groupSection">
        {% if ( (aSurveyInfo.showgroupinfo == 'N' or aSurveyInfo.showgroupinfo == 'B') and group.group_name ) %}
            <tr class="groupheader"><th><strong class="h3">{{group.group_name}}</strong></th></tr>
        {% endif %}
        {% for questionId,question in group.answerArray %}
            {% set questionTemplate = './subviews/printanswers/question_types/template_' ~ question.questionclass ~ '.twig' %}
            {{ include(questionTemplate) }}
        {% endfor %} 
    </tbody>
    {% set groupcount = groupcount+1 %}
</table>
{% endfor %}

