 {% extends "./subviews/printanswers/printanswers_question.twig" %}
 {% block question_answer %}
 <div class="input-free-text">
    {% if (aSurveyInfo.printPdf != 1) %}
        {{question.answervalue|escape}}
    {% else %}
        {{question.answervalue|escape|nl2br}}
    {% endif %}
    <br/>
</div>
{% endblock %}
