<?xml version="1.0" encoding="UTF-8"?>
<!--
    Base configuration for SkelVanilla Theme.
    The content of this file is imported into DB when you install the template.
-->
<config>
    <!-- Those metadata are displayed in the theme configuration page.  -->
    <metadata>
        <name>skelvanilla</name>
        <type>theme</type>
        <title>SkelVanilla Light</title>
        <creationDate>2018-10-29</creationDate>
        <author>Denis Chenu</author>
        <authorEmail>noreply@sondages.pro</authorEmail>
        <authorUrl>https://www.sondages.pro/contact</authorUrl>
        <supportUrl>https://extensions.sondages.pro/themes-and-templates/skelvanilla-a11y-and-usuability/</supportUrl>
        <copyright>Copyright (C) 2018-2020 Denis Chenu / Sondages Pro</copyright>
        <license>GNU General Public License version 3 or later</license>
        <version>10.8.1</version>
        <apiVersion>3</apiVersion>
        <description><![CDATA[<strong>LimeSurvey Bootstrap Vanilla Survey Theme with Accessibility and Options</strong><br>Base on vanilla theme, usage of more aria, fix some role and aria from core.<br>Allow usage of variations, only two variation in this lignt version.]]></description>
        <extends>vanilla</extends>
        <last_update>2022-07-11 17:06:00</last_update>
        <lastUpdate>2022-07-11 17:06:00</lastUpdate>
    </metadata>

    <files>
        <css>
            <remove>css/ajaxify.css</remove>
            <remove>noto.css</remove>
            <remove>yiistrap.css</remove>
            <remove>bootstrap-slider.css</remove>
            <remove>awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css</remove>
            <remove>awesome-bootstrap-checkbox/awesome-bootstrap-checkbox-rtl.css</remove>
            <remove>css/noTablesOnMobile.css</remove>
            <remove>template-core.css</remove>
            <remove>css/theme.css</remove>
            <remove>css/custom.css</remove>
            <add>css/skelvanilla.css</add>
        </css>
        <js>
            <remove>scripts/ajaxify.js</remove>
            <add>scripts/aria-live.js</add>
            <add>scripts/theme-vanilla.js</add>
            <add>scripts/skelvanilla.js</add>
            <add>scripts/theme.js</add>
            <add>scripts/custom.js</add>
        </js>
    </files>
    <!-- css/lsboostrap.css + css/theme.css + css/custom.css and scripts/theme.js, scripts/custom.js added in global_layout -->
    <!-- You can add here any option you want. It will be available in twig file via aSurveyInfo.options.youroptionname -->
    <!-- List of available variation, can use 0 to disable partially, remove or use "disable" : "1" to disable it -->
    <options>
        <hideprivacyinfo>off</hideprivacyinfo>
        <container>on</container>
        <questionhtag>off</questionhtag>
        <brandlogo>off</brandlogo>
        <brandlogofile>./files/logo.png</brandlogofile>
        <brandlogoasbanner>off</brandlogoasbanner>
        <surveylistlogo>on</surveylistlogo>
        <surveylistlogofile>./files/survey_list_header.png</surveylistlogofile>
        <poweredlogo>on</poweredlogo>
        <poweredlogofile>./files/poweredby.png</poweredlogofile>
        <poweredlink>https://sondages.pro</poweredlink>
        <poweredtext>Theme by Sondages Pro</poweredtext>
        <mandatoryposition>astip</mandatoryposition>
        <showpopups>0</showpopups>
        <errorattop>on</errorattop>
        <questioncolor>primary</questioncolor>
        <dangercolor>on</dangercolor>
        <questionwrap>none</questionwrap>
        <questionsize>h4</questionsize>
        <helpcolor>text-info</helpcolor>
        <validitycolor>text-info</validitycolor>
        <fixedheader>off</fixedheader>
        <headercontainer>off</headercontainer>
        <titlelocation>header</titlelocation>
        <theme>off</theme>
        <bodyloaded>on</bodyloaded>
        <removeback>on</removeback>
        <fixnumauto>disable</fixnumauto>
        <dynamicvalidity>off</dynamicvalidity>
        <savelink>on</savelink>
        <clearalllink>on</clearalllink>
        <indexlink>on</indexlink>
        <languagelink>on</languagelink>
        <previouslink>off</previouslink>
        <nextsubmitlink>off</nextsubmitlink>
        <showclearall>on</showclearall>
        <tableheader>on</tableheader>
        <availablevariations>{
  "contrast": {
    "name": "Contrast",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "bootstrap": {
    "name": "Bootstrap",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  }
}</availablevariations>
    </options>

    <!-- Here datas about how LimeSurvey should load the theme -->
    <engine>
        <cssframework>
            <name>bootstrap</name>
            <css replace="bootstrap.css">css/minimal.css</css>
        </cssframework>

        <viewdirectory>views</viewdirectory>
        <filesdirectory>files</filesdirectory>

        <packages>
            <add>moment</add>
            <remove>pjax</remove>
            <remove>font-noto</remove>
        </packages>

        <template_editor>
            <screens>
                <question>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Question')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/survey/group.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_desc.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_name.twig</file>
                    <file type="view" role="subview">./subviews/survey/question.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_content.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/answers.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/survey_question_help.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/valid_message_and_help.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/skelvanilla.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/skelvanilla.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="js">./scripts/custom.js</file>
                </question>
                <surveylist>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Survey list')}} ]]></screen_title>
                    <file type="view" role="layout">layout_survey_list.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_form.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/skelvanilla.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/skelvanilla.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="js">./scripts/custom.js</file>
                </surveylist>
                <welcome>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Welcome')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/firstpage.twig</file>
                    <file type="view" role="subview">./subviews/header/head.twig</file>
                    <file type="view" role="subview">./subviews/header/theme.twig</file>
                    <file type="view" role="subview">./subviews/header/custom_header.twig</file>
                    <file type="view" role="subview">./subviews/header/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/header/description.twig</file>
                    <file type="view" role="subview">./subviews/header/progress_bar.twig</file>
                    <file type="view" role="subview">./subviews/messages/welcome.twig</file>
                    <file type="view" role="subview">./subviews/messages/warnings.twig</file>
                    <file type="view" role="subview">./subviews/messages/no_js_alert.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy_modal.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy_text.twig</file>
                    <file type="view" role="subview">./subviews/content/allinone_welcome.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </welcome>
                <completed>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Completed')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/header/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/header/description.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </completed>
                <assessments>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Assessments')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="view" role="subview">./subviews/messages/assessments.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </assessments>
                <error>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Error')}} ]]></screen_title>
                    <file type="view" role="layout">layout_errors.twig</file>
                    <file type="view" role="subview">./subviews/header/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/header/description.twig</file>
                    <file type="view" role="subview">./subviews/messages/warnings.twig</file>
                    <file type="view" role="subview">./subviews/messages/bootstrap_alert_modal.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                </error>
                <clearall>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Clear all')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/clearall.twig</file>
                    <file type="view" role="content">./subviews/content/clearall_confirm.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </clearall>
                <load>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Load')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/load.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </load>
                <save>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Save')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/save.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </save>
                <register>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Registration')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/register.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_error.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_head.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_message.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_success.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_form.twig</file>
                    <file type="view" role="subview">./subviews/registration/required.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </register>
                <printanswers>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Print answers')}} ]]></screen_title>
                    <file type="view" role="layout">layout_printanswers.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/printanswers.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_question.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_table.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </printanswers>
                <pdf>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('PDF')}} ]]></screen_title>
                    <file type="view" role="layout">layout_print.twig</file>
                </pdf>
                <quotas>
                  <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Quotas exceeded')}} ]]></screen_title>
                  <file type="view" role="layout">layout_global.twig</file>
                  <file type="view" role="content">./subviews/content/quotas.twig</file>
                  <file type="view" role="subview">./subviews/header/start_form.twig</file>
                </quotas>
                <navigation>
                    <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Navigation')}} ]]></screen_title>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/navigation/ajax_indicator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_top_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/previous_link.twig</file>
                    <file type="view" role="subview">./subviews/navigation/nextsubmit_link.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator_move.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator_complement.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_questions_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_groups_buttons.twig</file>
                    <file type="css">./css/bootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </navigation>
                <token>
                  <screen_title type="data" role="title" twig="on"><![CDATA[ {{gT('Token')}} ]]></screen_title>
                  <file type="view" role="layout">layout_user_forms.twig</file>
                  <file type="view" role="content">./subviews/content/userforms.twig</file>
                  <file type="view" role="subview">./subviews/logincomponents/token.twig</file>
                  <file type="view" role="subview">./subviews/logincomponents/captcha.twig</file>
                </token>
            </screens>

            <!-- Data for preview in Theme Editor and Twig Cache command line generator  -->
            <default_data>
              <survey type="core">
                <name type="data" twig="on"><![CDATA[ {{ gT("Template Sample") }} ]]></name>
                <description type="data" twig="on"><![CDATA[<p>{{ gT('This is a sample survey description. It could be quite long.') }}</p><p>{{ gT("But this one isn't.") }}<p>]]></description>
                <welcome type="data" twig="on"><![CDATA[<p>{{ gT('Welcome to this sample survey')}} <p> <p> {{ gT('You should have a great time doing this') }} <p> ]]></welcome>
                <therearexquestions type="data" twig="on"><![CDATA[gT('There is 2 question in this survey'])]]></therearexquestions>
                <surveyls_url type="data" twig="on">"https://www.sondages.pro"</surveyls_url>
                <surveyls_urldescription type="data" twig="on"><![CDATA[ gT("Some URL description") ]]></surveyls_urldescription>
                <showsurveypolicynotice>2</showsurveypolicynotice>
                <datasecurity_notice_label type="data" twig="on"><![CDATA[ <a href='#data-security-modal-' data-toggle='collapse'> {{ gT('Show Policy') }} </a>  ]]></datasecurity_notice_label>
                <datasecurity_notice type="data" twig="on"><![CDATA[ {{ gT("Here your data security notice") }} ]]></datasecurity_notice>
              </survey>
              <group type="core">
                <name type="data" twig="on"><![CDATA[ {{ gT("Group 1: The first lot of questions") }} ]]></name>
                <description type="data" twig="on"><![CDATA[ {{ gT("This group description is fairly vacuous, but quite important.") }} ]]></description>
              </group>
              <question_1 type="core">
                <code type="data">'Q1 '</code>
                <text type="data" twig="on"><![CDATA[ {{ gT("How many roads must a man walk down?") }} ]]></text>
                <valid_message type="data" twig="on"><![CDATA[ <div id="vmsg_4496_num_answers" class="em_num_answers emtip error"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> {{ gT("Choose one of the following answers") }} </div> ]]></valid_message>
              </question_1>
              <question_2 type="core">
                <code type="data">'Q2 '</code>
                <text type="data" twig="on"><![CDATA[ {{ gT("Please explain something in detail:") }} ]]></text>
                <valid_message type="data" twig="on"><![CDATA[<div id="vmsg_4496_num_answers" class="em_num_answers emtip error"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> {{ gT("Hint when response is not valid") }} </div> ]]></valid_message>
              </question_2>
              <assessments type="core">
                <name type="data" twig="on"><![CDATA[ {{ gT("Welcome to the Assessment") }} ]]></name>
                <message type="data" twig="on"><![CDATA[ {{ gT("You got {TOTAL} points out of 3 possible points.") }} ]]></message>
              </assessments>
              <quotas type="custom" arrayName="aQuotas">
                <sMessage type="data" twig="on"><![CDATA[ {{ gT("Sorry your responses have exceeded a quota on this survey.") }} ]]></sMessage>
                <sUrl type="data">https://sondages.pro</sUrl>
                <sUrlDescription type="data" twig="on"><![CDATA[ {{ gT("End url") }} ]]></sUrlDescription>
                <bShowNavigator type="data">false</bShowNavigator>
              </quotas>

              <userforms type="custom" arrayName="aForm">
                <sType type="data">token</sType>
              </userforms>
            </default_data>
        </template_editor>
    </engine>

</config>
