<?xml version="1.0" encoding="UTF-8"?>
<!--
    Base configuration for SkelVanilla Theme.
    The content of this file is imported into DB when you install the template.
-->
<config>
    <!-- Those metadata are displayed in the theme configuration page.  -->
    <metadata>
        <name>accessible_vanilla</name>
        <title>Bootstrap Vanilla</title>
        <creationDate>2018-10-29</creationDate>
        <author>Denis Chenu</author>
        <authorEmail>noreply@sondages.pro</authorEmail>
        <authorUrl>http://www.sondages.pro</authorUrl>
        <copyright>Copyright (C) 2018 Denis Chenu / Sondages Pro</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>4.1.0</version>
        <apiVersion>3</apiVersion>
        <description><![CDATA[<strong>LimeSurvey Bootstrap Vanilla Survey Theme with Accessibility and Options</strong><br>Base on vanilla theme, usage of more aria, fix some role and aria from core.<br>Allow usage of a lot of variations, list of variation can be updated. Some decoration option using boostrap class.]]></description>
        <last_update>2019-02-12 09:50:19</last_update>
        <extends>vanilla</extends>
    </metadata>

    <files>
        <css>
            <remove>css/ajaxify.css</remove>
            <remove>scripts/ajaxify.js</remove>
            <remove>bootstrap.css</remove>
            <remove>yiistrap.css</remove>
            <remove>bootstrap-slider.css</remove>
            <remove>awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css</remove>
            <remove>awesome-bootstrap-checkbox/awesome-bootstrap-checkbox-rtl.css</remove>
            <remove>template-core.css</remove>
            <add>css/skelvanilla.css</add>
            <add>css/theme.css</add>
            <add>css/custom.css</add>
        </css>
        <js>
            <remove>scripts/ajaxify.js</remove>
            <add>scripts/aria-live.js</add>
            <add>scripts/theme-vanilla.js</add>
            <add>scripts/skelvanilla.js</add>
            <add>scripts/theme.js</add>
            <add>scripts/custom.js</add>
        </js>
    </files>
    <!-- css/lsboostrap.css + css/theme.css + css/custom.css and scripts/theme.js, scripts/custom.js added in global_layout -->
    <!-- You can add here any option you want. It will be available in twig file via aSurveyInfo.options.youroptionname -->
    <!-- List of available variation, can use 0 to disable partially, remove or use "disable" : "1" to disable it -->
    <options>
        <animatebody>off</animatebody>
        <hideprivacyinfo>off</hideprivacyinfo>
        <container>on</container>
        <questionhtag>off</questionhtag>
        <bodyanimation>fadeInRight</bodyanimation>
        <brandlogo>off</brandlogo>
        <brandlogofile>./files/logo.png</brandlogofile>
        <surveylistlogo>on</surveylistlogo>
        <surveylistlogofile>./files/survey_list_header.png</surveylistlogofile>
        <poweredlogo>on</poweredlogo>
        <poweredlogofile>./files/poweredby.png</poweredlogofile>
        <poweredlink>https://sondages.pro</poweredlink>
        <poweredtext>Theme by Sondages Pro</poweredtext>
        <showpopups>0</showpopups>
        <questioncolor>primary</questioncolor>
        <questionwrap>none</questionwrap>
        <questionsize>h4</questionsize>
        <helpcolor>text-info</helpcolor>
        <validitycolor>text-info</validitycolor>
        <fixedheader>off</fixedheader>
        <variation>default</variation>
        <availablevariations>{
  "contrast": {
    "name": "Contrast",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "bootstrap": {
    "name": "Bootstrap",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "cerulean": {
    "name": "Cerulean",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "cosmo": {
    "name": "Cosmo",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "cyborg": {
    "name": "Cyborg",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "darkly": {
    "name": "Darkly",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "flatly": {
    "name": "Flatly",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "journal": {
    "name": "Journal",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "lumen": {
    "name": "Lumen",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "paper": {
    "name": "Paper",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "readable": {
    "name": "Readable",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "sandstone": {
    "name": "Sandstone",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "simplex": {
    "name": "Simplex",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "slate": {
    "name": "Slate",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "spacelab": {
    "name": "Spacelab",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "superhero": {
    "name": "Superhero",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "united": {
    "name": "United",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  },
  "yeti": {
    "name": "Yeti",
    "base": "1",
    "button": "1",
    "awesome": "1",
    "button_awesome": "1"
  }
}</availablevariations>
    </options>

    <!-- Here datas about how LimeSurvey should load the theme -->
    <engine>
        <cssframework>
            <name>bootstrap</name>
            <css replace="css/bootstrap.css">css/lsbootstrap.css</css>
        </cssframework>

        <viewdirectory>views</viewdirectory>
        <filesdirectory>files</filesdirectory>

        <packages>
            <add>moment</add>
            <remove>pjax</remove>
            <remove>font-noto</remove>
        </packages>

        <template_editor>
            <screens>
                <question>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/survey/group.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_desc.twig</file>
                    <file type="view" role="subview">./subviews/survey/group_subviews/group_name.twig</file>
                    <file type="view" role="subview">./subviews/survey/question.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_container.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/question_text_content.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/answers.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/survey_question_help.twig</file>
                    <file type="view" role="subview">./subviews/survey/question_subviews/valid_message_and_help.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/skelvanilla.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/skelvanilla.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="js">./scripts/custom.js</file>
                </question>

                <surveylist>
                    <file type="view" role="layout">layout_survey_list.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_form.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/skelvanilla.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/skelvanilla.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="js">./scripts/custom.js</file>
                </surveylist>

                <welcome>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/firstpage.twig</file>
                    <file type="view" role="subview">./subviews/header/head.twig</file>
                    <file type="view" role="subview">./subviews/header/custom_header.twig</file>
                    <file type="view" role="subview">./subviews/header/nav_bar.twig</file>
                    <file type="view" role="subview">./subviews/header/progress_bar.twig</file>
                    <file type="view" role="subview">./subviews/messages/welcome.twig</file>
                    <file type="view" role="subview">./subviews/messages/warnings.twig</file>
                    <file type="view" role="subview">./subviews/messages/no_js_alert.twig</file>
                    <file type="view" role="subview">./subviews/privacy/privacy.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/aria-live.js</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </welcome>

                <completed>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </completed>

                <assessments>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/submit.twig</file>
                    <file type="view" role="subview">./subviews/messages/assessments.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </assessments>

                <error>
                    <file type="view" role="layout">layout_errors.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                </error>

                <clearall>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/clearall.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </clearall>

                <load>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/load.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </load>

                <save>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="subview">./subviews/content/mainrow.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/save.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </save>

                <register>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/register.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_error.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_head.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_message.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_success.twig</file>
                    <file type="view" role="subview">./subviews/registration/register_form.twig</file>
                    <file type="view" role="subview">./subviews/registration/required.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </register>

                <printanswers>
                    <file type="view" role="layout">layout_printanswers.twig</file>
                    <file type="view" role="subview">./subviews/content/outerframe.twig</file>
                    <file type="view" role="content">./subviews/content/printanswers.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_question.twig</file>
                    <file type="view" role="subview">./subviews/printanswers/printanswers_table.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </printanswers>

                <pdf>
                    <file type="view" role="layout">layout_print.twig</file>
                </pdf>

                <navigation>
                    <file type="view" role="layout">layout_global.twig</file>
                    <file type="view" role="subview">./subviews/footer/footer.twig</file>
                    <file type="view" role="content">./subviews/content/main.twig</file>
                    <file type="view" role="subview">./subviews/navigation/ajax_indicator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_links.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer_top_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/language_changer.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_menu.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator_move.twig</file>
                    <file type="view" role="subview">./subviews/navigation/navigator_complement.twig</file>
                    <file type="view" role="subview">./subviews/navigation/clearall_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/save_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_questions_buttons.twig</file>
                    <file type="view" role="subview">./subviews/navigation/question_index_groups_buttons.twig</file>
                    <file type="css">./css/lsbootstrap.css</file>
                    <file type="css">./css/theme.css</file>
                    <file type="js">./scripts/theme.js</file>
                    <file type="css">./css/custom.css</file>
                    <file type="js">./scripts/custom.js</file>
                </navigation>
            </screens>
        </template_editor>
    </engine>

</config>
