<div class='ls-question-mandatory ls-question-mandatory-{{ part ?: 'nosubmit'}} {% if part %} text-danger {% endif %}'>
    <span class='fa fa-exclamation-circle' aria-hidden="true"></span>
    {{ sMandatoryText ?: gT("This question is mandatory")}}
</div>
