{% if aSurveyInfo.options.titlelocation == 'content' %}
    <h1 class="{% if (aSurveyInfo.options.container == "on") %} container {% else %} container-fluid {% endif %}">
    {{ pagetitle ?: processString(aSurveyInfo.surveyls_title,1) }}
    </h1>
{% endif %}
{% if aSurveyInfo.options.descriptiondisplay == 'all' %}
    {% if processString(aSurveyInfo.description,1) %}
    <div class="description-wrapper">
        <div class="text-info {{ aSurveyInfo.class.description }}  {% if (aSurveyInfo.options.container == "on") %} container {% else %} container-fluid {% endif %}" {{ aSurveyInfo.attr.description }}>
            {{ processString(aSurveyInfo.description,1) }}
        </div>
    </div>
    {% endif %}
{% endif %}
