{% if aQuestion.help.show %}
<div class="{{ aSurveyInfo.class.helpcontainer }} {{ aSurveyInfo.class.lsquestionhelp }} text-info" {{ aSurveyInfo.attr.helpcontainer }}>{{ aQuestion.help.text | raw }}</div>
{% endif %}
