{% if aSurveyInfo.options.showclearall != 'off' %}
    <div class="{{ aSurveyInfo.class.clearallwrapper }} form-inline">
        <button value="clearall" name="clearall" type="submit" class="{{ aSurveyInfo.class.clearallbutton }} btn btn-warning">{{gT("Exit and clear survey")}}</button>
    </div>
{% endif %}
