{% if aSurveyInfo.aNavigator.aMoveNext.value == "movesubmit" %}
    <!-- Submit -->
    <li class="ls-no-js-hidden">
        <a tabindex="0" role="button" data-limesurvey-submit='{ "move":"movesubmit" }' class='animate'>
            {{ gT('Submit') }}
        </a>
    </li>
{% else %}
    <!-- Submit -->
    <li class="ls-no-js-hidden">
        <a tabindex="0" role="button" data-limesurvey-submit='{ "move":"movenext" }' class='animate'>
            {{ gT('Next') }}
        </a>
    </li>
{% endif %}
