{% if aSurveyInfo.aNavigator.aMovePrev.show %}
    <!-- Previous -->
    <li class="ls-no-js-hidden">
        <a role="button" tabindex="0" data-limesurvey-submit='{ "move":"moveprev" }' class='animate'>
            {{ gT('Previous') }}
        </a>
    </li>
{% endif %}
