{% if (aSurveyInfo.include_content == 'main') %}
<ul class="skip-navigation navbar-nav navbar-left">
    <li><a class="sr-only sr-only-focusable" href="#limesurvey">{{ gT("Go to survey") }}</a></li>
</ul>
{% endif %}
