{% if (aSurveyInfo.include_content == 'main' or aSurveyInfo.include_content == 'firstpage')  %}
<span  class="skip-navigation nav navbar-nav">
    <a class="sr-only sr-only-focusable" href="#limesurvey">{{ gT("Go to survey") }}</a>
</span>
{% endif %}
{% if (aSurveyInfo.include_content == 'save')  %}
{# Survey even if it's not survey : no way to get language string in SurveyTheme #}
<span  class="skip-navigation nav navbar-nav">
    <a class="sr-only sr-only-focusable" href="#limesurvey">{{ gT("Go to survey") }}</a>
</span>
{% endif %}
{% if (aSurveyInfo.include_content == 'load')  %}
{# Survey even if it's not survey : no way to get language string in SurveyTheme #}
<span  class="skip-navigation nav navbar-nav">
    <a class="sr-only sr-only-focusable" href="#limesurvey">{{ gT("Go to survey") }}</a>
</span>
{% endif %}
{% if (aSurveyInfo.include_content == 'submit')  %}
{# Survey even if it's not survey : we have a form id limesurvey in submit. #}
<span  class="skip-navigation nav navbar-nav">
    <a class="sr-only sr-only-focusable" href="#limesurvey">{{ gT("Go to survey") }}</a>
</span>
{% endif %}
